/* add heading-related styles */
.heading {
    height: 50px;
    width: 50px;
    margin: 50px 0 0 50px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(/img/logo.svg);
    background-size: cover;

  & button {
    position: absolute;
    top: 35px;
    right: 50px;
  }
}
