@import "bourbon";
@import "base/base";
@import "neat";


// border-box all the things
html {
  box-sizing: border-box;
  @include background(url('/img/bg-dark.png'), center no-repeat, #2e2b34);
  background-size: cover;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
// base body style
body {

  // background-image:
  font-weight: 300;
}

#app {
  height: 100%;
  // width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
#app > div {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}
